#virtual environment directories
bin
include
lib
man
share
ivecvenv
i_vec_out
i_vec_out_aug

#output directories
exp

#python files/directories
__pycache__
*.pyc

#project files
explore_hdf5_files.py
